VITE_API_BASE_URL=https://eb1a-app-hermes-api-qy4ypwumaq-uc.a.run.app
VITE_ENABLE_PDF_LANDING=false
VITE_POSTHOG_KEY=phc_Bp5zE3zbSLgygDSv5fWi4BDvLx38xoq826R5pQptFDn8
VITE_POSTHOG_HOST=https://us.i.posthog.com
